<canvas id="particles-canvas"></canvas>
<div class="home-wrapper">
    <h1>Hi, I'm Brady</h1>
    <p>Developer <span class="divider"> | </span> Writer</p>
</div>

<div class="about-container">
  <p>
    I am a software developer that brings craftsmanship approach to my work. I have a
    background in software and the humantarian field. I
    am always looking for new opportunities to grow and expand my knowledge. If
    you think we could work together, please feel free to reach me at one of the
    links below.
  </p>
  <div class="links-container">
    <a href="mailto:hi@bradyhawkins.dev" class="link"> Mail </a>
    <a href="https://github.com/hawk0120" class="link"> Github </a>
    <a href="https://www.linkein.com/in/brady-hawkins" class="link">
      Linkedin</a
    >
  </div>
</div>   
