header{
  padding-top: 1em;
  padding-bottom: 1em;
  margin-right: 0
}

nav {
 display: flex;
 align-items: center;
 justify-content: space-between;


}
nav ul {
   list-style-type: none;
   display: flex;
 }

nav li {
padding: 0.2em;
}

nav li a.active {
  bottom-border-color: var(--yellow);
  bottom-border: 1px solid;

  }


