header {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-right: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  list-style-type: none;
  display: flex;
}

nav li a{
  padding: 0.2em;

  &:hover {
    color: var(--yellow);
  }
}
