* {
  margin: 0 auto;
}

.Markdown-post {
  margin-top: 5px;
  margin-bottom: 50px;
  min-height: 90%;
  min-width: 80%;
  text-align: left;
  background-color: var(--black);
}
@media (max-width: 600px) {
  img {
    overflow: hidden !important;
  }
  code {
    white-space: pre;
  }
}
