footer {
  position: fixed;
  bottom: 0;
  display: flex;
  overflow: visible;
  width: 800px;
  justify-content: space-between;
  margin: 0 auto;
}

.icon-container {
}
.icon {
  color: var(--grey);
  padding: 12px;
  width: 10px;
  height: 10px;
}

.icon:hover {
  cursor: pointer;
  color: var(--yellow);
}
