* {
  text-decoration: none;
  color: inherit;
}

:root {
  font-family: system-ui, helvetica;
  --grey: #a7a2a9;
  --black: #242424;
  --white: #f4f7f5;
  --yellow: #f2a541;
   max-width: 800px;
   margin: 0 auto;
   padding: 0;
 }

body,
h1,
h2,
h3,
p,
ul{
font-family: Helvetica;
  color: var(--grey);
  background-color: var(--black);
  line-height: 1em;
  font-size: 1em;
}

