* {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Share Tech Mono";
  src: url("https://n-o-d-e.live/fonts/font.eot");
  src:
    local("â˜º"),
    url("https://n-o-d-e.live/fonts/font.woff") format("woff"),
    url("https://n-o-d-e.live/fonts/font.ttf") format("truetype"),
    url("https://n-o-d-e.live/fonts/font.svg") format("svg");
}
:root {
  font-family: Share Tech Mono;
  --grey: #a7a2a9;
  --black: #242424;
  --white: #f4f7f5;
  --yellow: #1b998b;
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
}

body,
h1,
h2,
h3,
p,
ul {
  font-family: Share Tech Mono;
  color: var(--grey);
  background-color: var(--black);
  line-height: 1em;
  font-size: 1em;
}
