*{
 text-decoration: none;
 color: inherit;
}
body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
	color: black;
}

body {
  font-family: 'Calibre', sans-serif;
  line-height: 1.6;
  background-color: white;
  color: black;
}

p {
color: #black;
}

a:hover {
				color: black;
}


main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Responsive styles for small screens */
@media screen and (max-width: 600px) {
  nav {
    text-align: center;
  }

  nav li {
    display: block;
    margin: 10px 0;
  }
}

